  <!-- index -->

  
  <%- include('head'); %>
  <%- include('top'); %>
  <div class="userinfo">
    <div></div>
    <div>
      <h1>#houseplants</h1>
      <h3>10,505,852</h3>
      <h4>posts</h4>
    </div>
  </div>
  <div class="topposts">
    <div>Top posts</div>
    <ul class="imglist">
      <% sData.forEach((v1)=>{ %>
        <%=v1.id %>
      <% }) %>
    </ul>
  </div>
  <%- include('footer'); %>
